body {
  background: #FBF1E7;
  color: white;
  font-family: 'Quicksand', sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
    display: none;
}

#kontener {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#baner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: #F9E8D8;
	width: 100vw;
	height: 13vh;
  text-align: center;
  line-height: 13vh;
  color: #363636;
  font-size: 10vh;
}

#b1, #b2, #b3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 13vh;
  width: 13vh;
}

#b1 {
  right: 36vh;
  text-align: right;
}

#b3 {
  text-align: left;
  left: 26vh;
}

#menu {
	width: 20vw;
	height: 87vh;
	background: #C68A66;
	position: fixed;
	top: 13vh;
	left: 0;
}

#koszyk_open {
	width: 15vw;
	height: 10vh;
	background: #79c03f;
	position: fixed;
	bottom: 1vw;
	right: 1vw;
  text-align: center;
  line-height: 10vh;
  font-size: 1.5vw;
  cursor: pointer;
}

#koszyk_ilosc {
  background: #4C59A1;
  position: absolute;
  top: -.75vw;
  right: -.75vw;
  height: 1.5vw;
  width: 1.5vw;
  font-size: 1vw;
  line-height: 1.5vw;
  border-radius: 50%;
}

.przycisk {
	cursor: pointer;
	width: 18vw;
	height: 14.5vh;
	background: none;
	line-height: 14vh;
	text-align: left;
	padding-left: 2vw;
	font-size: 2vw;
	color: white;
	border-bottom: 1px #F9E8D8 solid;
}

.przycisk:hover {
	background: #cd9879;
}

.przycisk:active {
	background: #a3633d;
}

#promocje {
	position: fixed;
	top: calc(13vh + 1vw);
	right: 1vw;
	height: calc(20vw + 14vh);
	width: 15vw;
	//border: 1px solid black;
  background: url("img/promo_bg.png");
}

@keyframes promo_bg {
    0% {background-position: : 0px 0px;}
    100% {background-position: 80px 85px;}
}

#promocje_tytul {
  #position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  //background: #363636B2;
  background: #da1910B2;
  color: white;
  line-height: 10vh;
  text-align: center;
  font-size: 4vh;
}

#promocje_img {
  position: absolute;
  height: 14vw;
  width: 14vw;
  background: none;
  top: 12vh;
  left: 0;
  right: 0;
  margin: auto;
}

#promocje_img > img {
	height: 100%;
	width: 100%;
  pointer-events: none;
}

#promocje_nazwa {
  position: absolute;
  height: 6vw;
  width: 15vw;
  background: #da1910B2;
  top: calc(14vw + 14vh);
  left: 0;
  line-height: 3vw;
  text-align: center;
  font-size: 4vh;
  text-shadow: 1px 1px 4px #da1910;
}

#dania {
	position: absolute;
	top: 13vh;
	left: 20vw;
	width: 65vw;
}

.danie {
	position: relative;
	width: 20vw;
	height: 20vw;
	float: left;
	margin-left: 1vw;
	margin-top: 1vw;
}

.danie > img {
	height: 100%;
	width: 100%;
  pointer-events: none;
}

.danie_nazwa_tlo, .danie_nazwa  {
	position: absolute;
	width: 100%;
	height: 5vw;
	bottom:0;
	left:0;
	text-align: center;
	line-height: 5vw;
	font-size: 1.5vw;
}

.danie_nazwa_tlo {
	background: #363636;
	opacity: 0.7;
}

.danie_opis {
  position: absolute;
	width: 15vw;
	height: 5vw;
	bottom: 7.5vw;
	left: 2.5vw;
	text-align: center;
	font-size: 1.3vw;
  display: none;
}

.danie_dodaj {
  position: absolute;
	width: 18vw;
	height: 5vw;
	bottom: 1vw;
	left: 1vw;
	text-align: center;
	line-height: 5vw;
	font-size: 2vw;
  background: #79c03f;
  display: none;
  cursor: pointer;
}

@keyframes nazwa_gora {
    0% {bottom: 0vw;}
    100% {bottom: 15vw;}
}

@keyframes nazwa_tlo_gora {
    0% {height: 5vw;}
    100% {height: 20vw;}
}

@keyframes nazwa_dol {
    0% {bottom: 15vw;}
    100% {bottom: 0vw;}
}

@keyframes nazwa_tlo_dol {
    0% {height: 20vw;}
    100% {height: 5vw;}
}

@keyframes znikanie {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes odznikanie {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes znikanie2 {
    0% {opacity: 0.7;}
    100% {opacity: 0;}
}

@keyframes odznikanie2 {
    0% {opacity: 0;}
    100% {opacity: 0.7;}
}

#dodanie_dania_tlo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #363636;
  opacity: 0.7;
  display: none;
}

#dodanie_dania {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 31vw;
  height: 80vh;
  background: #FBF1E7;
  display: none;
  color: #363636;
}

#dodanie_nazwa {
  position: relative;
  top: 1vw;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 5vw;
  font-size: 3vw;
  text-align: center;
  line-height: 5vw;
}

.dodanie_kolo, .dodanie_puste, .dodanie_kwadrat {
  height: 5vw;
  width: 5vw;
  text-align: center;
  line-height: 5vw;
  font-size: 1.9vw;
  float: left;
  margin-left: 1vw;
  margin-top: 2vw;
}

.dodanie_kwadrat {
  border: 1px solid #363636;
  cursor: pointer;
}

.dodanie_kolo {
  border-radius: 50%;
  border: 1px solid #363636;
}

.dodanie_przycisk {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1vw;
  width: 29vw;
  height: 5vw;
  background: #79c03f;
  cursor: pointer;
  line-height: 5vw;
  text-align: center;
  font-size: 3vw;
  margin: auto;
  color: white;
}

.dodanie_zdjecie {
  width: 100%;
  height: 18vw;
}

.dodanie_zdjecie > img {
  margin-left: 8vw;
  margin-top: 3vw;
  width: 15vw;
  height: 15vw;
}

.dodanie_cena {
  height: 5vw;
  width: 31vw;
  text-align: center;
  line-height: 5vw;
  font-size: 2vw;
  float: left;
}

.dodanie_spacja {
  float: left;
  height: 5vw;
  width: 6vw;
}

#koszyk {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: #FBF1E7;
  display: none;
  color: black;
  overflow: hidden;
  color: #363636;
  font-size: 4vw;
}

#koszyk_powrot, #koszyk_dalej {
  position: fixed;
  top: 1vw;
  width: 10vw;
  height: 4vw;
  background: #da1910;
  color: white;
  line-height: 4vw;
  text-align: center;
  font-size: 2vw;
  cursor: pointer;
}

#koszyk_powrot {
  left: 2vw;
  border-radius: 0 .5vw .5vw 0;
}

#koszyk_dalej {
  right: 2vw;
  background: #79c03f;
  border-radius: .5vw 0 0 .5vw;
}

#koszyk_powrot::after, #koszyk_dalej::after {
  position: absolute;
  top: 50%;
  margin-top: -2vw;
  content: '';
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
}

#koszyk_powrot::after {
  right: 100%;
  border-right: 1vw solid #da1910;
  border-left: 1vw solid transparent;
}

#koszyk_dalej::after {
  left: 100%;
  border-left: 1vw solid #79c03f;
  border-right: 1vw solid transparent;
}

.koszyk_linia {
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 17vw;
  margin-right: 17vw;
  width: 66vw;
  height: 6vw;
  background: #e1d8cf;
  float: left;
  color: #363636;
}

#koszyk_cena {
  position: fixed;
  right: 0;
}

.koszyk_linia_img, .koszyk_linia_plus, .koszyk_linia_ilosc, .koszyk_linia_minus, .koszyk_linia_cena, .koszyk_linia_usun {
  height: 6vw;
  width: 6vw;
  float: left;
  line-height: 6vw;
  text-align: center;
  font-size: 3vw;
  background-size: cover;
}

.koszyk_linia_img {
  font-size: 2vw;
  color: white;
  text-shadow: 1px 1px 5px #363636;
}

.koszyk_linia_nazwa {
  height: 6vw;
  width: 30vw;
  line-height: 6vw;
  float: left;
  font-size: 3vw;
}

#koszyk_cena {
  position: fixed;
  text-align: right;
  bottom: 1vw;
  right: 1vw;
  font-size: 4vw;
  height: 4vw;
  line-height: 4vw;
  color: #363636;
}

#koszyk_napis {
  position: absolute;
  top:1vw;
  left: 0;
  right: 0;
  margin: auto;
  width: 60vw;
  height: 4vw;
  line-height: 4vw;
  text-align: center;
}

#koszyk_1, #koszyk_2, #koszyk_4, #koszyk_5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 15vw;
  width: 30vw;
  height: 30vw;
  line-height: 30vw;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
}

#koszyk_1, #koszyk_4 {
  right: 40vw;
}

#koszyk_2, #koszyk_5 {
  left: 40vw;
}

#koszyk_3 {
  font-size: 3vw;
  position: absolute;
  bottom: 0;
  height: 5vw;
  width: 30vw;
  left: 0;
  line-height: 5vw;
}

#koszyk_nr {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60vw;
  height: 6vw;
  line-height: 6vw;
  font-size: 6vw;
  text-align: center;
}

#koszyk_nr_2 {
  position: absolute;
  bottom: -4vw;
  left: 0;
  height: 4vw;
  width: 60vw;
  line-height: 4vw;
  text-align: center;
  font-size: 2vw;
}

#koszyk_koniec_cena {
  position: absolute;
  bottom: 1vw;
  left: 0;
  right: 0;
  margin: auto;
  height: 4vw;
  width: 60vw;
  font-size: 4vw;
  line-height: 4vw;
  text-align: center;
}
